<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloWorldSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HelloWorldTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloWorld_Frankified.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA4E60A716014B2C0013B19F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA82E7551604108900B47A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA82E7821604110000B47A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABF8B5915EFF4DC0081D3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABF8B8215EFF5090081D3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FACDBA3D1604117900C49268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FACDBA57160411F600C49268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE91F8E15EFF704004F15B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF3F9941603EB1500193449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF3F9AF1603EDC400193449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF3F9C61603EE2400193449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF3F9E01603EE4300193449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
